.card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: rgb(231, 228, 228);
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: 18%;
    background-color: rgba(95, 93, 93, 0.616);
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.card-container img{
    max-width: 250px;   
    border-radius: 5px;
}
.card-container:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgba(95, 97, 112, 0.25);
}
.card-container p {
    margin: 3px 0;
}
.card-container h3 {
    margin: 2px 0;
}
.more{
    color: rgb(31, 31, 194);
    text-align: right;
    font-weight: bold;
}
.card-container div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.go-to-detail {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    border-radius: 25px;
    border-color: 0px;
    padding: 5px;
    background-color: rgba(240, 255, 255, 0.767);
    text-align: center;
    color: black;
    font-weight: bold;

}
.go-to-detail:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}





