.detail-title{
    font-size: 50px;
    text-align: left;
    padding: 4px;
    color: white;
    border: 0;
    margin-bottom: 15%;
    margin-top: 15%;
}

.gif {
    display: flex;
    width: 80vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.gif img {
    width: 5vw;
}

.detail-info  {
    text-decoration: none;
    color: white;
}

.favorite-container{
    display: flex;
    justify-content: space-around;
}

.favorite{
    background-color: rgb(44, 43, 43);
    color: white;
    font-size: 12px;
    border: white 2px solid;
    border-radius: 15px;
    padding: 11px 12px 11px 12px;
}

.movie-series-detail {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95vw;
    padding: 5px;
    border-radius: 6px;
    align-items: flex-start;
}

.movie-series-detail .photo-container{
    width: 30vw;
    height: 70vh;
    margin: 10px 10px 10px 40px;   
    border-radius: 10px; 
    padding: 0; 
}

.movie-series-detail .data{
    width: 55vw;
    padding: 0px 30px 0px 0px;
    margin-bottom: 5%;

}

.data{
    padding: 15px;
    margin-left: -5%;
    text-align: center;
    margin-top: -9%;
}

.photo-container{
    margin-left: 10%;
}


/*Media queries*/
@media (max-width: 768px){
    section.movie-series-detail{
        display: flex;
        flex-wrap: wrap; 
        margin: 0 auto;
    }

    .movie-series-detail article{
        display: inline;
        width: 95vw;
        margin: 5px;
        justify-content: center; 
    }

    .photo-container img{
        width: 150%;
        margin-top: 60px;
        margin-left: 55%;
        align-self: center;
    }

    .movie-series-detail .data{
        width: 100%;
    }

    .detail-title{
        font-size: 50px;
        text-align: center;
        margin-top: 17%;
    }

    .detail-info{
        font-size: 20px;
        text-align: center;
        margin-left: 5%;
    }

    section.favorite-container{
        justify-content: space-around;
        font-size: 15px;

    }
}

@media (max-width: 425px){

    .main-title{
        font-size: 50px;
    }

    .detail-title{
        font-size: 35px ;
        display: flex;
        width: 100%;
    }

    .detail-info{
        font-size: 15px;
    }

    .photo-container img{
        display: flex;
        width: 200%;
        justify-content: space-around;
        margin-left: 30px;
    }

    .movie-series-detail{
        display: flex;
    }
    .data{
        display: flex;
        justify-content: space-around;
    }

}
