.main-home {
    text-align: center;

}

.billboard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;    
    border-radius: 5px;
}

.morePopular {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;    
    border-radius: 5px;
}