
/* HEADER*/ 
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;    
    text-align: center;   
    border-bottom: rgb(77, 76, 76);   
    align-items: center;  
}
nav img {
    align-items: flex-start;
    max-width: 150px;
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 20px;    
    text-align: center;
    
}
nav ul li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;        
}
nav ul li a {
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 0px;
  }
  /* Dropdown Button */
.dropbtn {   
    padding: 10px;
    border: none;
    border-radius: 15px;
    color: white;    
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-decoration: none;
    border-radius: 5px;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #ffffff; color:black} 
/* Dropdown Button */


/*Media queries*/
/*Tablets*/
@media (max-width: 768px){
    
    nav img {
        width: 100px;      
    }  
    
}    

/*Mobile*/
@media (max-width: 420px){ 

    nav{
        flex-direction: column;
        justify-content: space-around;
    }
    nav ul li {
        font-size: 13px;
    }
    nav img {
        width: 80px;
    }

}