.favouritesCard{
    color: rgb(219, 214, 214);
    font-size: 15px;
    padding: 10px;
    margin-bottom: 20px;
    width: 18%;
    background-color: rgba(95, 93, 93, 0.616);
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.favouritesCard img{
    max-width: 100%;   
    border-radius: 5px;
}

.favouritesCard p {
    margin: 20px;
}
.favouritesCard h3 {
    margin: 10px;
}
.moreInfoMovie{
    margin: 20px;
    color: white;
    text-align: center;
}

.go-to-detailMovieFav {
    background-color: rgb(44, 43, 43);
    color: white;
    font-size: 12px;
    border: white 2px solid;
    border-radius: 15px;
    padding: 11px 12px 11px 12px;
    margin-top: 12px;
    text-align: center;
}


div.card-containerMovieFav {
    margin: 20px;
    color: white;
    text-align: center;
}

.favoriteMoviesFav {
    background-color: rgb(44, 43, 43);
    color: white;
    font-size: 12px;
    border: white 2px solid;
    border-radius: 15px;
    padding: 11px 12px 11px 12px;
}

/*Media queries*/
/*Tablets*/
@media (max-width: 768px){

    .favouritesCard {      
        width:48%;
    }    
}    

/*Mobile*/
@media (max-width: 420px){ 
    .favouritesCard {
        font-size: 15px;
        width: 80%;
    } 
    .favouritesCard img{
        max-width: 200px;   
    }   

}