
/*FOOTER */

footer {
    border-top: rgb(77, 76, 76);
    text-align: center;
    padding: 20px 0;
    color: #666; 
    bottom: 0;
    width: 100%;
}

.footerNames {
    text-decoration: none;
    color: #666;
    font-size: 15px; 
}

/*Media queries*/
/*Tablets*/
@media (max-width: 768px){
    footer {
        font-size: 10px;
    }
}

@media (max-width: 420px){
    footer {
        font-size: 10px;
    }
}