/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
}
body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;    
}

/* HEADER*/ 
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;    
    text-align: center;   
    border-bottom: rgb(77, 76, 76);   
    align-items: center;  
}
nav img {
    align-items: flex-start;
    max-width: 150px;
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 20px;    
    text-align: center;
    
}
nav ul li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;    
}
nav ul li a {
    color: white;
}
h1, h2 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}

h1{
    font-size: 70px;
}

/* HOME*/
.main-home h2 {
    font-size: 50px;
    margin: 5% ;
}

.view-all{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    border-radius: 30px;
    border-color: 0px;
    padding: 10px;
    background-color: rgba(240, 255, 255, 0.767);
    text-align: center;
    color: black;
    font-weight: bold;
    align-self: center;   
    margin-left: 45%;

}
.view-all:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgba(136, 138, 155, 0.25);
}

.main-home {
    text-align: center;
}

.billboard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;    
    border-radius: 5px;
    width: 100%;
}

.morePopular {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;    
    border-radius: 5px;
    width: 100%;
}
.SearchResults-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;    
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
}

.notFound-responsive-img {
    display: none;
}
.notFound-origin-img {
    width: 100%;
}

/*FOOTER */

footer {
    border-top: rgb(77, 76, 76);
    text-align: center;
    padding: 20px 0;
    color: #666; 
    bottom: 0;
    width: 100%;
}

.footerNames {
    text-decoration: none;
    color: #666;
    font-size: 15px; 
}

/*Media queries*/
/*Tablets*/
@media (max-width: 768px){
    
    nav img {
        width: 100px;      
    }  
    
    .main-home h2 {
        font-size: 35px;
    }

    .billboard {       
        flex-direction: row;         
        justify-content: space-around;
    }    
    
    .morePopular {       
        flex-direction: row;
        justify-content: space-around;
    }
    .SearchResults-container {
        flex-direction: row;
        justify-content: space-around;
    }
    .view-all {
        margin-left: 0%;
    }
    .notFound-origin-img {
        display: none;
    }
    .notFound-responsive-img {
        display: inline;
        width: 100%;
    }

    footer {
        font-size: 10px;
    }
}    

/*Mobile*/
@media (max-width: 420px){ 

    nav{
        flex-direction: column;
        justify-content: space-around;
    }
    nav ul li {
        font-size: 13px;
    }
    nav img {
        width: 80px;
    }

    .main-home {
        text-align: center;
    }

    .main-home h2 {
        font-size: 35px;
    }
    .billboard {       
        flex-direction: column; 
        align-items: center;        
    }
    .morePopular {       
        flex-direction: column;
        align-items: center;   
    }
    .SearchResults-container {
        flex-direction: column;
        align-items: center;   
    }
    .view-all {
        margin-left: 0%;
    }

    .notFound-origin-img {
        display: none;
    }
    .notFound-responsive-img {
        display: inline;
        width: 100%;
    }

    footer {
        font-size: 10px;
    }

}