.card-container{
    color: rgb(219, 214, 214);
    font-size: 15px;
    padding: 10px;
    margin-bottom: 20px;
    width: 18%;
    background-color: rgba(95, 93, 93, 0.616);
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.card-container img{
    max-width: 200px;   
    border-radius: 5px;
}
.card-container:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.card-container p {
    margin: 6px;
}
.card-container h3 {
    margin: 10px;
}
.more{
    color: rgb(2, 2, 138);
    text-align: right;
    font-weight: bold;
    margin: 5px;
}

.card-container div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.go-to-detail {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    border-radius: 25px;
    border-color: 0px;
    padding: 5px;
    background-color: rgba(240, 255, 255, 0.767);
    text-align: center;
    color: black;
    font-weight: bold;

}


/*Media queries*/
/*Tablets*/
@media (max-width: 768px){

    .card-container {      
        width:60%;
    }   
       
}    

/*Mobile*/
@media (max-width: 420px){ 
    .card-container {
        font-size: 15px;
        width: 80%;
    } 
    .card-container img{
        max-width: 200px;   
    }   

}