.card-container{
    color: rgb(219, 214, 214);
    font-size: 15px;
    padding: 10px;
    margin-bottom: 20px;
    width: 18%;
    background-color: rgba(95, 93, 93, 0.616);
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.card-container img{
    max-width: 200px;   
    border-radius: 5px;
}
.card-container:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.card-container p {
    margin: 6px;
}
.card-container h3 {
    margin: 10px;
}
.more{
    color: rgb(2, 2, 138);
    text-align: right;
    font-weight: bold;
    margin: 5px;
}

.go-to-detail {
  
        background-color: rgb(44, 43, 43);
        color: white;
        font-size: 12px;
        border: white 2px solid;
        border-radius: 15px;
        padding: 11px 12px 11px 12px;
        margin-top: 12px;
    }


/*Media queries*/
/*Tablets*/
@media (max-width: 768px){
    .card-container {      
        width: 48%;
    }   
       
}    

/*Mobile*/
@media (max-width: 420px){ 
    .card-container {
        font-size: 15px;
        width: 80%;
    } 
    .card-container img{
        max-width: 200px;   
    }   

}