.card-container-series{
    color: rgb(219, 214, 214);
    font-size: 15px;
    padding: 10px;
    margin-bottom: 20px;
    width: 18%;
    background-color: rgba(95, 93, 93, 0.616);
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.card-container-series img{
    max-width: 100%;   
    border-radius: 5px;
}
.card-container-series:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.card-container-series p {
    margin: 20px;
    color: white;
    text-align: center;
}
.card-container-series h3 {
    margin: 10px;
}
.more-series{
    text-align: right;
    font-weight: bold;
    margin: 5px;
}
.go-to-detail-series:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}

/*Media queries*/
/*Tablets*/
@media (max-width: 768px){

    .card-container-series {      
        width:48%;
    }    
}    

/*Mobile*/
@media (max-width: 420px){ 
    .card-container-series {
        font-size: 15px;
        width: 80%;
    }      

}