h3.detail-title{
    font-size: 37px;
    text-align: center;
    border: solid white 1px;
    padding: 4px;
    color: white;
}

p.detail-info  {
    text-decoration: none;
    color: white;
}

section.movie-series-detail {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
}

section.movie-series-detail article {
    width: 95vw;
    margin: 5px;
    padding: 5px;
}

section.movie-series-detail article.photo-container img{
    width: 100%;
    height: 80vh;
}
section.movie-series-detail article.data {
    width: 100%;
    padding: 15px;
}
section.movie-series-detail article.data h3 {
    font-size: 30px;
    text-align: center;
}
section.movie-series-detail article.data p {
    font-size: 18px;
    text-align: center;
    justify-content: center;
}

section.favorite-container{
    display: flex;
    justify-content: space-around;
}

p.favorite{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    border-radius: 25px;
    border-color: 0px;
    padding: 10px;
    background-color: rgba(240, 255, 255, 0.767);
    text-align: center;
    color: black;
    font-weight: bold;
}


hr.line {
    color: white;
}

/*Media queries*/
@media (max-width: 768px){
    section.peliculasSeriesDetalle article.photo-container img{
        width: 100%;
        height: 80vh;
    }

    section.favorite-container{
        justify-content: space-around;

    }
}