.detail-title{
    font-size: 50px;
    text-align: center;
    padding: 4px;
    color: white;
    border: 0
}

.detail-info  {
    text-decoration: none;
    color: white;
}

.favorite-container{
    display: flex;
    justify-content: space-around;
}

.favorite{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    border-radius: 25px;
    border-color: 0px;
    padding: 10px;
    background-color: rgba(240, 255, 255, 0.767);
    text-align: center;
    color: black;
    font-weight: bold;
}

.movie-series-detail {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95vw;
    padding: 5px;
    border-radius: 6px;
    align-items: center;
}

.movie-series-detail .photo-container{
    width: 30vw;
    height: 70vh;
    margin: 10px 10px 10px 40px;   
    border-radius: 10px; 
    padding: 0; 
}

.movie-series-detail .data{
    width: 55vw;
    padding: 0px 30px 0px 0px;
    margin-bottom: 5%;

}

/*Media queries*/
@media (max-width: 768px){
    section.movie-series-detail{
        display: flex;
        flex-wrap: wrap; 
        margin: 0 auto;
    }

    .movie-series-detail article{
        display: inline;
        width: 95vw;
        margin: 5px;
        justify-content: center; 
    }

    .photo-container img{
        width: 100%;
        margin-left: -25px;
        margin-top: 95px;
    }

    .movie-series-detail .data{
        width: 100%;
    }

    .data{
        margin-top: -15px;
    }

    .detail-title{
        font-size: 20px;
        text-align: center;
    }

    .detail-info{
        font-size: 15px;
        text-align: center;
    }

    section.favorite-container{
        justify-content: space-around;
        font-size: 15px;

    }
}

@media (max-width: 425px){

    .main-title{
        font-size: 50px;
    }

    .detail-title{
        font-size: 40px ;
        display: flex;
        width: 100%;
    }

    .detail-info{
        font-size: 15px;
    }

    .photo-container img{
        display: flex;
        width: 200%;
        justify-content: space-around;
        margin-left: 30px;
    }

    .movie-series-detail{
        display: flex;
    }
    .data{
        display: flex;
        justify-content: space-around;
    }

}